@import "../css/reset.css";
@import "../css/grid.css";
@import "../css/superfish.css";

input {
	outline:  none !important;
}

html {
	width: 100%;
}

 a[href^="tel:"] {
    color: inherit;
    text-decoration:none;
}

* {
    -webkit-text-size-adjust: none;
}

@font-face {
    font-family: 'Droid Naskh';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/DroidNaskh-Regular.eot');
    src: url('../fonts/DroidNaskh-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DroidNaskh-Regular.woff2') format('x-woff2'),
        url('../fonts/DroidNaskh-Regular.woff') format('woff'),
        url('../fonts/DroidNaskh-Regular.ttf') format('truetype');
}

body {
	font: 13px/19px  'Droid Naskh', Arial, Helvetica, sans-serif;
	color:#ecedef;
	position:relative;
	min-width:960px;
	background: #334960;
	direction: rtl;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Droid Naskh', 'Signika', sans-serif;
	color: #ecedef;
}

h2 {
	font-size: 60px;
	padding-top: 101px;
	line-height: 60px;
	text-align: center;
}

h3 {
	font-size: 48px;
	line-height: 54px;
}

p {
	margin-bottom: 19px;
}

img {
	max-width: 100%;
}

address {
	font-style: normal;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

/* ===== links ===== */
a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #334960;
	
}

/* ===== preclass ===== */
.mb0 {
	margin-bottom: 0px !important;
}

.m0 {
	margin: 0 !important;
}

.pad0 {
	padding: 0 !important;
}

.pt0 {
	padding-top: 0;
}

.img_inner {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.fleft {
	float: left;
	margin-right: 20px;
	margin-top: 3px;
	margin-bottom: 22px;
}

.fright {
	float: right !important;	
}

.upp {
	text-transform: uppercase;
}

.alright {
	text-align: right;
}

.center {
	text-align: center;
}

.wrapper, .extra_wrapper {
	overflow: hidden;
}

.clear {
	float: none !important;
	clear: both;
}

/* ===== socials ===== */
.socials {
	padding-top: 45px;
	text-align: center;
	font-size: 0;
	line-height: 0;
	direction: ltr;
}

.socials a {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	width: 69px;
	height: 69px;
	background: url(../images/socials.png) 0 0 no-repeat;
}

.socials a:hover {
	opacity: 0.5;
}

.socials a+a {
	margin-left: 18px;
	background-position: -87px 0;
}

.socials a+a+a {
	background-position: -175px 0;
	margin-left: 19px;
}

.socials a+a+a+a {
	background-position: right 0;
}

/* ===== content ===== */
.content {
	padding-top: 125px;
	text-align: center;
	position: relative;
}

.content:after {
	display: block;
	position: absolute;
	content: '';
	z-index: 1;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 37px 50px 0 50px;
	border-color: #334960 transparent transparent transparent;
	left: 50%;
	margin-left: -50px;
	top: 0;

}

.content .slogan {
	margin-bottom: 117px;
}

.content .slogan h3 {
	margin-bottom: 30px;
}

/* ===== header ===== */
header {
	display: block;
	position: fixed;
	z-index: 999;
	left: 0;
	right: 0;
	padding-bottom: 20px;
	top: 0;
	overflow: hidden;
	background-color: #334960;
	transition: 0.2s ease;
	-o-transition: 0.1s ease;
	-webkit-transition: 0.2s ease;

}

header h1 {
	padding-top: 28px;
	float: left;
	z-index: 999;

}
header h1 a {
	display: block;
	overflow: hidden;
	width: 108px;
	height: 43px;
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}

header h1 a img {
	display: block;	
}

/* ===== footer ===== */
footer {
	display: block;
}

footer {
}

footer a:hover {
	color: #f17c72;
}

.copy {
	color: #e0e8ec;
	padding-top: 29px;
	padding-bottom: 30px;
	font-size: 12px;
	line-height: 24px;
}

/* ===== to top ===== */
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:40px;
	margin-right: -620px !important;
	overflow:hidden;
	width:45px;
	height:45px;
	border:none;
	text-indent:-999px;
	z-index:999;
	background:url(../images/totop.png) no-repeat left top;
	transition: 0s ease;
	-webkit-transition: 0s ease;
	-o-transition: 0s ease;	
}
#toTop:hover {
	background-position: right 0;
}

/* ===== page 1 ===== */
#page1 {
	padding-bottom: 191px;
}

header.page1 .men1 .hover {
	top: 0;
}

/* ===== page 2 ===== */
#page2 {
	background-color: #f17c72;
	padding-top: 230px;
	padding-bottom: 500px;
	padding-bottom: 190px;
}

header.page2 {
	background-color: #f17c72;
}

header.page2 .hover {
	background-color: #e6655e;
}

header.page2 .men2 .hover {
	top: 0;
}

/* ===== page 3 ===== */
#page3 {
	background-color: #32ac97;
	padding-top: 230px;
	padding-bottom: 190px;
}

#page3:after {
	border-color: #f17c72 transparent transparent transparent;
}

#page3 .slogan {
	margin-bottom: 110px;
}

header.page3 {
	background-color: #32ac97;
}

header.page3 .hover {
	background-color: #46dcc7;
}

header.page3 .men3 .hover {
	top: 0;
}

/* ===== page 4 ===== */
#page4 {
	background-color: #7f4c76;
	padding-top: 231px;
	padding-bottom: 186px;
}

#page4:after {
	border-color: #32ac97 transparent transparent transparent;
}

#page4 .slogan {
	margin-bottom: 110px;
}

header.page4 {
	background-color: #7f4c76;
}

header.page4 .hover {
	background-color: #b288ab;
}

header.page4 .men4 .hover {
	top: 0;
}

/* ===== page 5 ===== */
#page5 {
	background-color: #3f9fc9;
	padding-top: 230px;
	padding-bottom: 190px;
}

#page5:after {
	border-color: #7f4c76 transparent transparent transparent;
}

#page5 .slogan {
	margin-bottom: 110px;
}

header.page5{
	background-color: #3f9fc9;
}

header.page5 .hover {
	background-color: #37637f;
}

header.page5 .men5 .hover {
	top: 0;
}

/* ===== page 6 ===== */
#page6 {
	background-color: #000;
	padding-top: 230px;
	padding-bottom: 190px;
}

#page6:after {
	border-color: #222 transparent transparent transparent;
}

#page6 .slogan {
	margin-bottom: 110px;
}

header.page6 {
	background-color: #000;
}

header.page6 .hover {
	background-color: #222;
}

header.page6 .men6 .hover {
	top: 0;
}













.companies img {
	margin-bottom: 19px;
}

.companies .text1 {
	margin-bottom: 9px;
}

.companies a {
	display: inline-block;
	color: #b288ab;
	padding-right: 12px;
	background: url(../images/link_marker.png) right 4px no-repeat;
	margin-top: 14px;
}

.companies a:hover {
	color: #fff;
}

.companies .clear {
	height: 114px;
}


/****Map***/

.map {
	text-align: left;
	overflow: hidden;
	padding-top: 5px;
}

.map .text1 {
	margin-bottom: 39px;
	color: #fff;
}
.map figure {
	position: relative;
	top: 7px;
	border: 1px solid #3c7f9f;
	width: 100%;
		 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
 display: block;

}
.map figure iframe {
	width: 100%;
	height: 218px;
	max-width: 100%;
}

.map a {
	color: #373b47;
}

.map a:hover {
	color: #fff;
}

.map address {
	overflow: hidden;
	font-size: 14px;
	line-height: 21px;

}

address dt {
	margin-bottom: 63px;
}

address dd span {
	min-width: 85px;
	display: inline-block;
	text-align: left;
}

.tm_link {
	color: #fd2614;
}

.tm_link:hover {
	color: #fff;
}